# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dados privados
dados_reais/
